

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#site-header h1 a {
 display:block; â€¨
 width:306px; 
 height:123px;  
 background:url(images/logo.png) no-repeat top left; 
 text-indent:-9999px;
 }


body {font-family:helvetica;
width:1000px; }

li a {color:white;
font-family:helvetica;
text-decoration:none;
text-transform:uppercase;}

#top-nav a {text-decoration:none;
color:#d4e0a3;
padding:10px -5px 15px 5px;}

#site-header {
  position:relative;
  height:120px;
  background-color:#d4e0a3;
  text-decoration:none;
  width: 100%;
  }

#site-header h1 
  {
  position:absolute;
  display:block;
  width:350px;
  height:120px;
  background-color:#d4e0a3;
  left:165px;
  text-decoration:none;
}
#top-nav 
  { 
  position:absolute;
  right:15px;
  width:150px;
  height:20px;
  background-color:#FEFEF2;
  font-family:helvetica;
  font-size:12px;
  text-decoration:none;
  }

  

#main-menu 
  {
  position:relative;
  height:45px;
  background-color:#4f3a11;
  text-decoration:none;
  font-color:white;
  padding-left: 140px;
  } 

#main-menu li
  {float:left;
  display:block;
  padding:10px;
  margin:5px 0px 5px 15px;
  background-color:#4f3a11;
  }

body {margin: 0 auto;
}

#page {float: left;
        width: 35%;
        margin: 20px 10px;
        padding: 10px 10px 10px 150px;
      }

#page h1 {text-transform: uppercase;
          font-size: 40px;
          color: #4f3a11;
          font-family: sans-serif;
          padding-bottom: 10px;
          padding-top: 50px;
        }

#page h2 {text-transform: uppercase;
          font-size: 20px;
          color: #4f3a11;
          font-family: sans-serif;
        }

#page p{color: black;
        font-size: 12px;
        line-height: 200%;
        padding-bottom: 10px;
}

#top-nav{
  position: absolute;
  right: 150px;
  width: 150px;
  height: 15px;
  color: #4f3a11;
  text-decoration: none;
  font-size: small;
}

#footer-contact {
  float: left;
  width: 130px;
  margin: 15px 150px;
}

#footer-contact h1{
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #D2B48C;
  padding-top: 15px;
  font-family: sans-serif;
}

#sidebar {float:right;
          width: 20%;
          margin: 50px;
          padding: 10px 220px 10px 10px;}

#sidebar h1 {text-transform: uppercase;
              font-family: sans-serif;
              font-size: 20px;
              padding-top: 10px;
              padding-bottom: 20px;
              font-weight: bold;}
#sidebar li{font-size: 12px;
            font-family: sans-serif;
            color: #4f3a11;
            padding-bottom:10px;
}

#sidebar a:link{color: #4f3a11;
                text-decoration: none;
                }
#sidebar a:hover{color: #4f3a11;
                text-decoration: none;
                }
#sidebar a:visited{color: #4f3a11;
                text-decoration: none;
                }
#footer-contact p{
  color: white;
  font-size: 10px;
  line-height: 200%;
}

#footer-follow{
    float: right;
    margin: 15px 220px;
}
#footer-follow li {
  float: left;
  display: block;
  padding: 5px 0px;
  margin: 5px 0px 0px 0px;
}
#footer-follow h1{font-weight: bold;
        color: #D2B48C;
        text-transform: uppercase;
        font-size: medium;
}

#site-header a:link {color:#4f3a11;
                     text-decoration: none;
                     }
#site-header a:visited {color: #4f3a11;
                        text-decoration: none;} /*visited link*/
#site-header a:hover {color: #4f3a11;
                      text-decoration: none;}

#site-footer {clear:both;
              position: relative;
              height: 220px;
              width: 100%;
              background-color: #4f3a11;
            }
