

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

h2{ font-weight: bolder;
	font-size: x-large;
	font-family: serif;
	padding: 0px;
	padding-top: 0px;
	margin: 0px;
	 }

p { padding:0px;
	padding-top:15px;
	margin:0px;
	font-family: serif;
	font-size: small;
}
img { float: left;
	  height: 100%;
	  width: 100%;
	  padding-top: 0px;
	  padding-left: 0px;
	  padding-right: 0px;
	  padding-bottom: 20px;
}

footer {
	clear: both;
	font-size: small;
}

ol, ul {
	list-style: none;
}

blockquote, p {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*END OF THE RESET*/

.VS{
  font-family: "Georgia";
  font-style: italic;
  font-weight: bold;
  font-size: 75px;
}

h1 {text-align: center;
        font-size: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bolder;
        font-family: "League Gothic";
      }

#nav{
  position: absolute;
  display: block;
  width: 100%;
  border-top-width: 2px;
  border-top-style: solid; 
  border-bottom-width: 2px;
  border-bottom-style: solid;
  text-align: center;

}

#nav ul{display: block;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
  }

#nav li { 
  display: inline;
  list-style:none;
  float:left;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: serif;
  font-size: x-large;
  font-weight: bold;
  font-color: black;
    }

  #dog {
    clear: left;
    float: left;
    width: 45%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  #cat {
    float: right;
    width: 45%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 15px;
  }
    

#left {
  clear: left;
  float: left;
  text-align: left;
  padding-left: 20px;
}    

#right {
  clear: right;
  float: right;
  text-align: right;
  padding-right: 20px;
}

#post_footer {
  width: 100%;
  padding-top: 10px;
  border-top: 3px;
  border-top: solid;
  position: relative;
  bottom: 0px;
  clear: both;
  font-size: x-small;

}

a:link {
  color:black;
  text-decoration: none;}

a:visited {
  color:black;
  text-decoration: none;}

 @media screen and (min-width:500px) { 
  body{font-size:0.5em;}
    #nav{display:block;}